$background: #f8faf9;
$main-font: 'Lato', sans-serif;
$base-font-size: 1rem;
$small-font-size: 0.8rem;

html {
    height: 100%;
    font-size: 18px;
}

body {
    height: 100%;
    margin: 0;
    background-color: lightgray;
}
